@import url("https://fonts.googleapis.com/css?family=Delius|Muli");

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 150px;
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  letter-spacing: 1.4px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Delius", cursive;
  font-family: "Muli", sans-serif;
  background-color: #282c34;
}

.App {
  text-align: center;
  padding: 35px;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Start Screen */
.GamePicker {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.GamePicker input,
.GamePicker label {
  display: block;
  color: white;
}

/* GameBoard */
.GameBoard {
  width: 45vw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  perspective: 1000px;
}

/* Card */
.card {
  position: relative;
  width: 125px;
  height: 125px;
  padding: 5px;
  margin: 5px;
  font-size: 50px;
  text-align: center;
  /* transition: transform 0.6s; */
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* box-shadow: 3px 3px white; */
}

.front {
  background: #eee;
}

.front,
.back {
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.back {
  transform: rotateY(180deg);
}

.selected {
  transform: rotateY(180deg);
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.card .card-image {
  object-fit: contain;
  height: 125px;
  width: 125px;
}

.Footer {
  background-color: #282c34;
  /* min-height: 100vh; */
  position: fixed;
  font-size: 2rem;
  right: 0;
  left: 0;
  bottom: 25px;
  text-align: center;
  color: white;
}
